.homeContainer {
  display: flex;
  /* background-color: red; */
  width: 100%;
  justify-content: space-between;
  height: 90vh;
}

.homeImg {
  width: 50%;
}

.headerText {
  width: 50%;
  margin: auto 0;
}

.headerText h1 {
  font-size: 300%;
  font-weight: bolder;
}

.homeImg img {
  width: 90%;
  margin-right: auto;
  margin: 6.5rem 0;
}

.headBtn button {
  padding: 5px 8px;
  margin-right: 6px;
  background-color: transparent;
  border: 1px solid #04543e;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.headBtn button:first-child {
  color: #5ecfb1;
}

.headBtn button:first-child:hover {
  color: #fff;
  background-color: #04543e;
}

.headBtn button:last-child {
  border: none;
  color: #04543e;
}

@media screen and (max-width: 770px) {
  .homeContainer {
    display: block;
    /* background-color: red; */
    width: 100%;
    height: 90vh;
    text-align: center;
  }

  .headerText h1 {
    font-size: 200%;
  }

  .headerText {
    width: 100%;
    margin-bottom: 1px;
  }

  .homeImg img {
    /* display: none; */
    /* margin-top: 20px; */
    width: 22rem;
    height: auto;
    margin: 50px 70px;
  }
}
