
.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color:  #020d14;
    padding: 5px;
    height: 5rem;

}

select {
    height: 30px;
    width: 6rem;
    color: #fff;
    background-color: #04543e;
    margin: auto 0;
    outline: none;
    border: none;
}

.optionIterms:hover {
    background-color: #04543f86;
}



option {
    border: none;
}

select option:hover {
    background-color: red;
}

.selectCurrency {
    height: 30px;
    /* width: 6rem; */
    /* color: #04543e; */
    margin: auto 0;
}

.depositeBtn {
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: center;
    height: 30px;
    margin: auto 0;
    background-color: #04543e;
    color: #fff;
    padding: 4px 8px;
    text-transform: uppercase;
}



.wallet {
    background-color: #ffffff1e;
    height: 80vh;
    margin: 4rem 0;
    padding: 10px;
    border-radius: 5px;
}

.wallet h2 {
    font-size: 20px;
    font-weight: bold;}

.balance {
    font-size: 20px;
    font-weight: bold;
    margin: auto 0;
}


/* walletCards */
.walletCards {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    /* width: 20rem; */
    width: fit-content;
    padding: 10px;
}

.coin {
    font-size: 6rem;
}

.funds {
    /* background-color: red; */
    /* width: 10rem; */
    padding: 5px;
}

.funds button {
    /* border: 1px solid #04543e; */

    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: center;
    height: 30px;
    margin: auto 0;
    background-color: #04543e;
    color: #fff;
    padding: 4px 8px;
    text-transform: uppercase;
}
/*  walletCards */